<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="no-js">
    <main class="main-global screen-intro">
        <div class="main-grid grid-no-header">
            <section class="content">
                <div class="content-flex">
                    <div class="content-center">
                        <div class="content-nav">
                            <div class="content-nav-confirm-title">
                                Complete the payment with you VIPPS app and press „I HAVE PAID IN VIPPS” only AFTER the payment is made!
                            </div>
                            <div class="content-nav-confirm-note">
                                Sometimes you might need to press „Payments” / „My Purchases” in VIPPS mobile app and confirm payment!
                            </div>
                            <div class="content-nav-cell">
                                <a href="#" class="button button-big">
                                    <span class="button-big-title">I have paid in</span>
                                    <span class="vipps-logo">
                                        <img src="upload/vipps.svg" alt="">
                                    </span>
                                </a>
                            </div>
                            <!-- /.content-nav-cell -->
                        </div>
                        <!-- /.content-nav -->
                    </div>
                    <!-- /.content-center -->
                </div>
                <!-- /.content-flex -->
            </section>
            <!-- /.content -->
            <footer class="footer-global">
                <div class="container">
                    <div class="footer-columns">
                        <div class="footer-nav-left">
                            <a href="#" class="button">Cancel</a>
                        </div>
                        <!-- /.footer-nav-left -->
                        <div class="footer-center">
                        </div>
                        <!-- /.footer-center -->
                        <div class="footer-nav-right">
                        </div>
                        <!-- /.footer-nav-right -->
                    </div>
                    <!-- /.footer-columns -->
                </div>
                <!-- /.container -->
            </footer>
        </div>
        <!-- /.main-grid -->
    </main>
    <!-- /.main-global -->
    <script src="js/jquery.js"></script>
    <script src="js/migrate.js"></script>
    <script src="js/library.js"></script>
    <script src="js/script.js"></script>
</body>
</html>
