<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="no-js">
    <main class="main-global screen-intro">
        <div class="main-grid grid-content-only">
            <section class="content">
                <div class="content-flex">
                    <div class="content-center">
                        <div class="content-nav">
                            <div class="no-space">
                                <div class="no-space-title">No empty space</div>
                                <div class="icon no-space-icon"><img src="upload/phone.svg" alt=""></div>
                                <div class="no-space-phone">90363556</div>
                                <div class="no-space-note">Please call us now to update it</div>
                            </div>
                            <!-- /.no-space -->
                        </div>
                        <!-- /.content-nav -->
                    </div>
                    <!-- /.content-center -->
                </div>
                <!-- /.content-flex -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.main-grid -->
    </main>
    <!-- /.main-global -->
    <script src="js/jquery.js"></script>
    <script src="js/migrate.js"></script>
    <script src="js/library.js"></script>
    <script src="js/script.js"></script>
</body>
</html>
