<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="no-js">
    <main class="main-global screen-intro">
        <div class="main-grid grid-content-only">
            <section class="content">
                <div class="content-flex">
                    <div class="content-center">
                        <div class="content-nav">
                            <div class="content-nav-header">Sales conditions</div>
                            <div class="content-nav-conditions">
                                Along with this bottle, you purchase a right of use for 10 years. When you exchange, you will get another bottle. It is your responsibility that the bottles are treated properly and not damaged. This bottle has a contract number assigned. If you insert another bottle or other items or goods that can’t be registered in the system, then you will be billed. By accepting terms of sale, you agree to this. The bottle contract is valid for 10 years and the bottle can be exchanged for an unlimited number of times. After 10 years the bottle must be revised. This will be charged on exchange when the contract has passed 10 years. It is not possible to switch a bottle between the different gas companies.
                            </div>
                            <div class="content-nav-cell">
                                <a href="#" class="button button-bold">
                                    Decline
                                </a>
                            </div>
                            <!-- /.content-nav-cell -->
                            <div class="content-nav-cell">
                                <a href="#" class="button button-bold">
                                    Accept
                                </a>
                            </div>
                            <!-- /.content-nav-cell -->
                        </div>
                        <!-- /.content-nav -->
                    </div>
                    <!-- /.content-center -->
                </div>
                <!-- /.content-flex -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.main-grid -->
    </main>
    <!-- /.main-global -->
    <script src="js/jquery.js"></script>
    <script src="js/migrate.js"></script>
    <script src="js/library.js"></script>
    <script src="js/script.js"></script>
</body>
</html>
