/* footer */
.footer-global {
    padding: 1vw;
    // background: #0f0;
}
.footer-columns {
    display: flex;
    justify-content: space-between;
}
.footer-center {
    flex-grow: 1;
}
.technology {
    text-align: center;
    text-transform: uppercase;
    color: rgba($w, 0.85);
    line-height: 1;
    font-size: 3.75vw;
    flex-grow: 1;
    &-title {
        font-size: 3.625vw;
    }
    &-subtitle {
        font-weight: 900;
    }
}
.footer-nav-left,
.footer-nav-right {
    min-height: 1px;
    flex: 0 0 28.5vw;
    max-width: 28.5vw;
}
.footer-nav-right {
    text-align: right;
}


