<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico')}}">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
</head>
<body class="no-js">
    <main class="main-global screen-intro">
        <div class="main-grid grid-content-only">
            <section class="content">
                <div class="content-flex">
                    <div class="content-center">
                        <div class="close-door">
                            <div class="close-door-title">Please close middle right door</div>
                            <div class="close-door-icon">
                                <img src="{{ url_for('static',filename='upload/close-door.svg')}}" alt="">
                            </div>
                        </div>
                        <!-- /.insert-card -->
                    </div>
                    <!-- /.content-center -->
                </div>
                <!-- /.content-flex -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.main-grid -->
    </main>
    <!-- /.main-global -->
    <script src="{{ url_for('static',filename='js/jquery.js')}}"></script>
    <script src="{{ url_for('static',filename='js/migrate.js')}}"></script>
    <script src="{{ url_for('static',filename='js/library.js')}}"></script>
    <script src="{{ url_for('static',filename='js/script.js')}}"></script>
</body>
</html>
