<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico')}}">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
</head>
<body class="no-js">
    <main class="main-global screen-intro">
		<form action="/p33-col-1-right">
		<button>Yes (sensor test) (According to Loading-cycle-R-flow-chart)</button>
		</form>
		<form action="/p33-col-1-right">
		<button>No (According to Loading-cycle-R-flow-chart)</button>
		</form>
		<form action="/p25-col-1-left">
		<button>Yes (sensor test) (According to Loading-cycle-L-flow-chart)</button>
		</form>
		<form action="/p25-col-1-left">
		<button>No (According to Loading-cycle-L-flow-chart)</button>
		</form>
        <div class="main-grid grid-no-header">
            <section class="content">
                <div class="content-flex">
                    <div class="content-center">
                        <div class="content-nav">
                            <div class="content-nav-header">Do you want to perform a&nbsp;sensors test?</div>
                            <div class="content-nav-cell">
                                <a href="#" class="button button-bold">
                                    NO
                                </a>
                            </div>
                            <!-- /.content-nav-cell -->
                            <div class="content-nav-cell">
                                <a href="#" class="button button-bold">
                                    YES
                                </a>
                            </div>
                            <!-- /.content-nav-cell -->
                        </div>
                        <!-- /.content-nav -->
                    </div>
                    <!-- /.content-center -->
                </div>
                <!-- /.content-flex -->
            </section>
            <!-- /.content -->
            <footer class="footer-global">
                <div class="container">
                    <div class="footer-columns">
                        <div class="footer-nav-left">
                            <a href="#" class="button">Back</a>
                        </div>
                        <!-- /.footer-nav-left -->
                        <div class="footer-center">
                        </div>
                        <!-- /.footer-center -->
                        <div class="footer-nav-right">
                        </div>
                        <!-- /.footer-nav-right -->
                    </div>
                    <!-- /.footer-columns -->
                </div>
                <!-- /.container -->
            </footer>
        </div>
        <!-- /.main-grid -->
    </main>
    <!-- /.main-global -->
    <script src="{{ url_for('static',filename='js/jquery.js')}}"></script>
    <script src="{{ url_for('static',filename='js/migrate.js')}}"></script>
    <script src="{{ url_for('static',filename='js/library.js')}}"></script>
    <script src="{{ url_for('static',filename='js/script.js')}}"></script>
</body>
</html>
